<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
    
      
    </section>

    <section class="fav">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
    
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <img src="./assets/gt media logo.png"  width="70" height="70">
              <i class="fas fa-gem me-3 text-secondary"></i>GT Media Services
            </h6>
            
            <p>
              GT is a company that provides a range of services that includes Instagram marketing, email and WhatsApp marketing, Facebook marketing, YouTube marketing, website marketing, app marketing, social media promotion, social media manager.
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            address
            </h6>
      
            <p>
              H-103,First floor, G-21,Jain Road, Dwarka Mor, West Delhi, New Delhi-110059,India
            </p>
           
          </div>
    
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
            <h6 class="text-uppercase fw-bold mb-4">Connect with Us</h6>
            <i class="fa fa-mobile-phone" style="font-size:20px">&nbsp;7683022565</i>
            <i class="fa fa-envelope" style="font-size:16px">&nbsp;&nbsp;contactgtmediaservices@gmail.com</i> 
            
            
         <a href="https://instagram.com/gtmediaservice?igshid=MzRlODBiNWFlZA=="  target="_blank" style="color:#982176">   <i class="fa fa-instagram" style="font-size:24px">&nbsp;insta</i></a>
            <br>
            <i class="fa fa-linkedin-square" style="font-size:24px">linkedin</i>
       
          </div>
          

        </div>

      </div>
      
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">gtmediaservices.com</a>
    </div>
    
  </footer>

</body>
</html>

