<!DOCTYPE html>
<html>
<head></head>
<style>
</style>
<body>

  <div class="p-3 mb-2 bg-secondary text-white"> 
    <div class="con" > <h4>FAQs</h4></div>  
      <p class="contact">
      
          <p><a href="home" style="color:#FFFFFF;text-decoration:none">Home </a> » Faqs</p>
      <h4>G.T. Media Services</h4>
 
<div class="p-3 mb-2 bg-secondary text-white">
  years
        
  
<h6>1.What is the minimum charge for Instagram Promotion?</h6>
<p>Our package starts for Instagram Promotions from INR:1999 only and it varies according to different services.</p>

<h6>
  2.How many time G.T. Media Sevices takes to revert to their clients/customers?
</h6>
<p>
  Our team will try to connect with you within 24 to 48 hours.
</p>
<h6>
  3.What is the minimum charge for YouTube Promotion?
</h6>
<p>Our package for YouTube promotion starts from INR: 999 only and it varies according to different-different services. 
  
</p>
<h6>
  4.What is G.T. Media Services?
</h6>
<p>
  G.T. Media Service provides various types of social media services. It helps you to grow your social media content and to promote it on large scale. 
</p>
<h6>
  5.Why one should choose G.T. Media services?
</h6>
<p>
  The most important reason why you should choose us our pricing and great service. We have a work experience of 8 years along with our happy clients who belongs to national as well as international community
</p>
<h6>
  6.How can I pay to G.T. Media Services after my work is done?
</h6>
<p>
  You can easily pay us through net banking, UPI, GPAY, PHONEPE, PAYTM. And for International clients they can easily make payment through PAYPAL and VIA TRANSFER. (via paypal and bank tranfer)
</p>
<h6>
 7.Is G.T. Media Servies is a trustable company?
</h6>
<p>
  Yes, G.T. Media Services is a trustable company. You check previous client’s reviews for that. We know because of few scam/fraud companies its quite hard to trust someone
</p>
</div>
</div>

  <app-footer></app-footer>
</body>

</html>