

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>   <div class="p-3 mb-2 bg-secondary text-white"> 
     <div class="con" > <h4>Instagram Marketing</h4></div>  
       <p class="contact">
       
           <p><a href="home" style="color:#FFFFFF;text-decoration:none">Home </a> » Instagram Marketing	</p>
           <p>We all know it is the finest platform for reaching a wide audience. A total of 1 billion users are active each month. Additionally, users spent 53 minutes a day on Instagram on average, making it the second most popular social networking platform after Facebook. 
               <br>
               <br>
                    Well Instagram marketing refers to the use of uploaded image and video material to promote a brand’s goods and services. Instagram marketing also involves learning how to approach comparable brands or accounts that can aid in your promotion and the reverse. 
               </p>
          
          </div>

     
    
<app-footer></app-footer>
</body>
</html>