<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
</head>
<body>


    <div  style="background-color:powderblue; color: #EA738D;"> 
      <div class="con" > <h4>Contact Us</h4></div>  
        <p class="contact">
        
            <p><a href="home" style="color:#EA738D;text-decoration:none">Home </a> » Contact</p>
        <h4>G.T. Media Services</h4>
     
     
            <br>
            H-103,First floor, G-21, Jain Road, Dwarka Mor, West Delhi, New Delhi-110059,India
           <br> Phone Number: 7683022565 <br>
                  Email:gtmediaservice@gmail.com
                  <br>contact@gmail.com
                
                </div>
                  
<app-footer></app-footer>
  </body>
  </html>