
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color:powderblue; color: #EA738D;"> 
        <div class="con" > <h4> Website and App Marketing	</h4></div>  
          <p class="contact">
          
              <p><a href="home" style="color:#EA738D;text-decoration:none">Home </a> »  Website and App Marketing	</p>
       
              <p>A website’s objective is to persuade visitors to convert by carrying out a specific call to action, like making a purchase or scheduling an appointment. Getting the user to install is the initial objective for mobile apps. However, once the app is downloaded, the difficulty is in maintaining engagement.</p>
                  </div>
   

<app-footer></app-footer>
</body>
</html>