
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="home">   <img src="./assets/gt media logo.png"   width="70" height="70"  ><br>G.T.Media Services</a>
    
   

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="home">Home </a>
        </li>
  
  
  <nav class="navbar">
    <a class="navbar-brand" href="#">
      <div class="dropdown">
        <button class="dropbtn">Our Services</button>
        <div class="dropdown-content">
          <a href="instagramMarketing">Instagram Marketing </a>
          <a href="contentWriting">Content Writing</a>
          <a href="emailAndWhatsAppMarketing">Email and WhatsApp Marketing</a>
          <a href="FacebookMarketing">Facebook Marketing</a>
          <a href="WebsiteAndAppMarketing">Website and App Marketing </a>
          <a href="YouTubeMarketing">YouTube Marketing</a>
          <a href="PromotedOnSocialMedia">Get Promoted on Social Media</a>
          <a href="ManagingSocialMediaHandles">Managing Social Media Handles</a>
          <a href="InstagramAndYouTubeManagement">Instagram and YouTube Management</a>
        
          
        </div>
        
      </div>
  </a>
  </nav>
        <li class="nav-item active">
          <a class="nav-link" href="contact">Contact Us </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="FAQs">FAQs </a>
          </li>
          
      </ul>
    </div>

    <img src="./assets/gt media logo.png"  width="70" height="70">

   
  </nav>


  <router-outlet></router-outlet>