<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div style="background-color:powderblue; color: #EA738D;"> 
        <div class="con" > <h4>Email and WhatsApp Marketing</h4></div>  
          <p class="contact">
          
            <p><a href="home" style="color:#EA738D;text-decoration:none">Home </a> » Email and WhatsApp Marketing</p>
          <h4>G.T. Media Services</h4>
       
       
              <br>
              <p>Businesses frequently utilize WhatsApp marketing and Email to communicate with their clients. They have a lot in common because they are both direct and unique ways to communicate with them.</p>
                  
                  </div>
    
<app-footer></app-footer>    
</body>
</html>
