
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color:powderblue; color: #EA738D;"> 
        <div class="con" > <h4> Get Promoted on Social Media</h4></div>  
          <p class="contact">
          
              <p><a href="home" style="color:#EA738D;text-decoration:none">Home </a> »  Get Promoted on Social Media</p>
       
          <p>Social media marketing has a lot of benefits, such as improved website traffic, audience engagement, brand awareness. Businesses who do not effectively use social media marketing are missing out on a potential asset for their overall marketing plan.
          </p>
                  </div>
   
<app-footer></app-footer>
</body>
</html>