

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    
</head>
<body >
  
         
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="./assets/firstPage.jpg" class="d-block w-50" alt="G.T.services">
                    <div class="carousel-caption d-none d-md-block">
                    
                    
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="./assets/secondPage.jpg" class="d-block w-50" alt="G.T.services">
                    <div class="carousel-caption d-none d-md-block">
                     
                    </div>
                  </div>
                 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            
       
    <div class="p-3 mb-2 bg-secondary text-white"> 
        <h5>What is GT Media services?</h5>
        <p>GT is a company that provides a range of services that includes Instagram marketing, email and WhatsApp marketing, Facebook marketing, YouTube marketing, website marketing, app marketing, social media promotion, social media manager. Apart from these services we also provide content writer service. We have great a well as creative writer who will definitely satisfy with their piece of work. We offer these services to clients who wants to improve their online presence or enhance their digital marketing efforts. Our Founder Mr. Gourav Thakur has 8-year experience in this industry. He has worked with national as well as international clients. With our amazing services we aim to help our clients achieve their digital goals and succeed in their respective fields/industries. 
            We may work with businesses, individuals, or organizations that need professional help with creating or managing their website, content creation, media editing, social media handling, etc. We all know marketing is very important even when you are running small businesses or you are content creator. Don’t worry we are here to solve your worries and will help you to achieve your digital goals.</p>
    
    
            <h5>Why choose us?</h5>
            <p>We will provide you the best work. We all know the importance of clients trusting with their business is very big thing. We promise not to disappoint you. No matter what service you choose our team will fulfill and accomplish all the expectations of the clients.
    
               ==== We know the importance of growth in business and how to tackle it with marketing. Social media plays a vital role these days in terms of marketing and it is very important to know how to grow your business offline as well as online. We will help you to grow your business online because digital presence is also important.
            </p>
    
    
        <h5>Importance of Digital Marketing </h5>
    <p>In the era of social media it has become really important that your business should grow digitally too, because consumers frequently utilise these platforms to research about brands and purchase their goods and services, social media is crucial in marketing. You can make sure that your marketing strategy id reaching every location where your target viewers are by using social media. This is one of the biggest reasons why you need to introduce your business digitally. 
        Digital marketing enables you to target the customers most likely to purchase your product or service and reach a broader audience than you could with traditional techniques</p>
    
    <h5>Advantages of Digital Marketing </h5>
    <p>1.It helps you to Gain Brand Reputation 
        2.Consumes less marketing Expense
        3.Optimized and Better Conversation Rates
        4.It Generates Leads Consistently
        5.It is easy in Communication with Customers to gain Loyalty
        6.You can easily target the Right Audience
        7.You can engage with your Customers at Every Stage</p>
    <div>
        <h5>Founder of G.T. Media Service</h5>
        <p>Gourav Thakur is the founder G.T. Media Service. He himself has 8 years of experience in digital marketing and social media marketing. He has worked with national as well as international clients in the past 8 years. Initially Mr. Gourav started social media marketing in his teenage year just to have some pocket money. Our founder have creative as well as sharp mind which will lead your business on higher level digitally. 
        </p>
      </div>
    </div>    


    
    <app-footer></app-footer>
</body>
</html>
