<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="p-3 mb-2 bg-secondary text-white"> 
        <div class="con" > <h4>Facebook Marketing</h4></div>  
          <p class="contact">
          
              <p><a href="home" style="color:#FFFFFF;text-decoration:none">Home </a> » Facebook Marketing</p>
          <h4>G.T. Media Services</h4>
       
          <P>A brand can use Facebook marketing to present its goods and services to the public and to spread the word about them using both free and paid methods. Brands have the benefit of raising brand awareness and communicating with customers through Facebook marketing.</P>
                  </div>
   
   
<app-footer></app-footer> 
</body>
</html>
   